
<!doctype html>
 <html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    
    <title>Your Shopping Cart | Gifts</title>
    

    <link rel="canonical" href="my cart.html" />
  	<link href="favicon.ico?7759" rel="shortcut icon" type="image/x-icon" />
  






    <link href="Gifts _ Gifts_files/bootstrap.css?7759" rel="stylesheet" type="text/css"  media="all"  /> 
    <link href="Gifts _ Gifts_files/assets.css?7759" rel="stylesheet" type="text/css"  media="all"  /> 
    <link href="Gifts _ Gifts_files/style.css?7759" rel="stylesheet" type="text/css"  media="all"  />
    <link href="Gifts _ Gifts_files/responsive.css?7759" rel="stylesheet" type="text/css"  media="all"  />
    <link href="Gifts _ Gifts_files/font-awesome.css?7759" rel="stylesheet" type="text/css"  media="all"  />

	<link href='//fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>

  
    <script src="Gifts _ Gifts_files/option_selection.js?4e677ab3cd677e476dc8e1e99519843897f45301" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.min.js" type="text/javascript"></script>  
    <script src="Gifts _ Gifts_files/bootstrap.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery-migrate-1.2.1.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.mobile.customized.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/shop.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.easing.1.3.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/api.jquery.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/ajaxify-shop.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/hoverIntent.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/superfish.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/supersubs.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/sftouchscreen.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.fancybox-1.3.4.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.bxslider.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.nivoslider.js?7759" type="text/javascript"></script>
  	<script src="Gifts _ Gifts_files/tm-stick-up.js?7759" type="text/javascript"></script>
  	<script src="Gifts _ Gifts_files/jquery.formstyler.min.js?7759" type="text/javascript"></script>
    

<script src="Gifts _ Gifts_files/currencies.js" type="text/javascript"></script>
<script src="Gifts _ Gifts_files/jquery.currencies.min.js?7759" type="text/javascript"></script>

<script>


Currency.format = 'money_format';


var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = "${{amount}} USD";
Currency.money_format[shopCurrency] = "${{amount}}";
  
/* Default currency */
var defaultCurrency = 'USD' || shopCurrency;
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

jQuery('.selected-currency').text(Currency.currentCurrency);

</script>



</head>
<body id="your-shopping-cart" class="template-cart" >


<div id="wrapper">
<div id="wrapper2">

<!-- HEADER -->
<header id="header">
    <div class="header_row__1">
    <div class="container">
        
        <!-- USER MENU -->
        <ul class="header_user">
        
            <li><a href="Account _ Gifts.html" id="customer_login_link">Log in</a></li>
            
            <li><a href="Create Account _ Gifts.html" id="customer_register_link">Create an account</a></li>
            
        
        <li class="checkout"><a href="my cart.html">Check out</a></li>
        </ul>
        

        <!-- CUSTOM HEADER BLOCK -->
        <div class="custom_header">Welcome to Our Online Store!</div>

        <!-- CURRENCIES -->
        
        <div class="header_currency">
    <select id="currencies" name="currencies">
      
      
      <option value="USD" selected="selected">USD</option>
      
          
      
          
          <option value="EUR">EUR</option>
          
      
          
          <option value="GBP">GBP</option>
          
      
    </select>
</div>
        
    </div>
    </div>

    <div class="header_row__2">
        <div class="container">
            <!-- LOGO -->
            <div id="logo">
                <a href="/">Gifts</a>
            </div>
    
            <!-- HEADER CART -->
            <div class="header_cart"><a href="/cart"><i class="fa fa-shopping-cart"></i><span>My cart:</span><span class="cart-total-items"><span class="count">2</span></span><span>item(s)</span></a></div>
        </div>

        
        <!-- NAVIGATION -->
        <div id="navigation">
        <div class="container">
        <nav role="navigation">
            <div class="row">
                <div class="col-sm-6 col-md-9">
                    <ul class="sf-menu visible-md visible-lg">
                    
                    
                    <li class="">
                        <a href="/">Home</a>
                    </li>
                    
                    
                    
                        <li class="">
                            <a href="/collections/all">Products</a>
                            <ul class="dropdown">
                            
                            <li><a href="Toys.html">Toys</a></li>
                            
                            <li><a href="Gift Basket.html">Gift Basket</a></li>
                        
                            <li><a href="birthday.html">Birthday</a></li>
                           
                            <li><a href="Anniversary.html">Anniversary</a></li>
                            
                            <li><a href="Valentine's Day.html">Valentine's Day</a></li>
                            
                            </ul>
                        </li>
                    
                    
                  
                    <li class="">
                        <a href="About us _ Gifts.html">About Us</a>
                    </li>
                    
                  
                    
                    <li class="">
                        <a href="Contact us _ Gifts.html">Contact us</a>
                    </li>
                    
                    
                    </ul>
                    
                    
                    <select name="main_navigation" id="mobile_menu" class="visible-xs visible-sm">
                      
                        
                        <option value="/">Home</option>
                        
                        
                      
                        
                        <option value="/collections/all">Products</option>
                        
                        
                          
                          <option value="Toys.html">- Toys</option>
                          
                        
                          
                          <option value="">- Gift Basket</option>
                      
                          
                          <option value="birthday.html">- Birthday</option>
                          
                       
                          
                          <option value="Anniversary.html">- Anniversary</option>
                          
                        
                          
                          <option value="Valentine's Day.html">- Valentine's Day</option>
                          
                      
                        
                        <option value="About us _ Gifts.html">About Us</option>
                        
                        
                     
                        
                        <option value="Contact us _ Gifts.html">Contact us</option>
                        
                        
                      
                      
                      <option value="" selected="selected">Your Shopping Cart</option>
                      
                    
                    </select>
                </div>
        
                <div class="col-sm-6 col-md-3">
                    <!-- HEADER SEARCH -->
                    <div class="header_search">
                        <form action="/search" method="get" class="search-form" role="search">
                        <input id="search-field" name="q" type="text" placeholder="Search store..." class="hint" />
                        <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        </div>
        </div>
        
    </div>
</header>






<!-- MAIN CONTENT -->
<div id="main" role="main">
<div class="container">


<ul class="breadcrumb">
  <li><a href="" class="homepage-link" title="Back to the frontpage">Home</a></li>
  
      <li><span class="page-title">Your Shopping Cart</span></li>
  
</ul>






    <div class="row sidebar_left ">

    <div class="column_center">
    <div id="main_content" class="col-sm-9">
    
    <div class="cart-scope">

<div class="page_header">
  <h1 class="page_heading">Shopping Cart</h1>
</div>  

<div class="page_content">



<form action="/cart" method="post" class="" class="form-inline">  
    <div class="cart-list">

      

        

      

      <div class="row cart-item">

        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="item_image">
            <a href="/products/artisan-cheese-hamper">  
              <img src="Gifts _ Gifts_files/artisan_cheese_hamper_1_medium.png?v=1404993133" alt="Artisan Cheese Hamper" />
            </a>
          </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9">

          <div class="item_remove pull-right">
            <a href="/cart/change?line=1&quantity=0"><i class="fa fa-times"></i></a>
          </div>

          <div class="product_name">
            <a href="/products/artisan-cheese-hamper">
            Artisan Cheese Hamper
            
              
            
            </a>
          </div>

          
              

          <h3 class="item_vendor">Gifts</h3>

          <div class="item_price">
            <div class="row">
              <div class="col-sm-4">
                <div class="price"><span class="money">$60.00</span></div>
              </div>
              <div class="col-sm-8">
                <div class="qty"><label for="updates[]">Qty: <input type="number" name="updates[]" id="updates_740190587" value="1" class="input-small form-control"/></label></div>
              </div>
            </div>
            <div class="row">
            <div class="total col-sm-12"><h3>Total: <span class="money">$60.00</span></h3></div>
            </div> 
          </div>        

        </div>
      </div>

      

        

      

      <div class="row cart-item">

        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="item_image">
            <a href="/products/aqua-pyro-dragons-kit">  
              <img src="Gifts _ Gifts_files/aqua_and_pyro_dragons_kit_1_medium.png?v=1404993123" alt="Aqua &amp; Pyro Dragons Kit" />
            </a>
          </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9">

          <div class="item_remove pull-right">
            <a href="/cart/change?line=2&quantity=0"><i class="fa fa-times"></i></a>
          </div>

          <div class="product_name">
            <a href="/products/aqua-pyro-dragons-kit">
            Aqua & Pyro Dragons Kit
            
              
            
            </a>
          </div>

          
              

          <h3 class="item_vendor">Gifts</h3>

          <div class="item_price">
            <div class="row">
              <div class="col-sm-4">
                <div class="price"><span class="money">$199.00</span></div>
              </div>
              <div class="col-sm-8">
                <div class="qty"><label for="updates[]">Qty: <input type="number" name="updates[]" id="updates_740190463" value="1" class="input-small form-control"/></label></div>
              </div>
            </div>
            <div class="row">
            <div class="total col-sm-12"><h3>Total: <span class="money">$199.00</span></h3></div>
            </div> 
          </div>        

        </div>
      </div>

      
    </div>

               
    
    
    <div class="cart_subtotal">
      <h3>Subtotal <span class="money">$259.00</span></h3>
    </div>

    <div class="cart_buttons">
          <a href="/collections/anniversary">Continue shopping</a>
          <span class="or">or</span>
          <input type="submit" name="update" value="Update cart" class="btn btn-primary"/>
          <span class="or">or</span>
          <input type="submit" name="checkout" value="Check out" class="btn btn-primary" />    
          
              
    </div>
    
    <p class="alert alert-warning">
    <b>Gifts</b> process all orders in USD.
    While the content of your cart is currently displayed in
    <span class="selected-currency"></span>,
    you will checkout using USD at the most current exchange rate.
    </p>
    
    
    <div class="cart_instructions">
      <label>Special instructions for seller</label>
      <textarea class="form-control" name="note"></textarea>
    </div>

</form>





</div>  
  <div id="payment-methods">
  <ul>
    <li>         <img src="Gifts _ Gifts_files/cc-amex.png?7759" alt="" /> </li>
    <li>     <img src="Gifts _ Gifts_files/cc-discover.png?7759" alt="" /> </li>
    <li>         <img src="Gifts _ Gifts_files/cc-visa.png?7759" alt="" /> </li>
    <li>   <img src="Gifts _ Gifts_files/cc-mastercard.png?7759" alt="" /> </li>
    <li>      <img src="Gifts _ Gifts_files/cc-maestro.png?7759" alt="" /> </li>
    <li>       <img src="Gifts _ Gifts_files/cc-cirrus.png?7759" alt="" /> </li>
    <li>       <img src="Gifts _ Gifts_files/cc-paypal.png?7759" alt="" /> </li>
    <li>       <img src="Gifts _ Gifts_files/cc-google.png?7759" alt="" /> </li>
  </ul>
</div>

</div>
    
    </div>
    </div>

    
    <div class="column_left column col-sm-3">
    <div class="widget widget__collections">
    <h3 class="widget_header">Collections</h3>
    <div class="widget_content">
        <ul class="list">
        
              
              
              <li class="anniversary">
                  <a href="/collections/anniversary" title="Anniversary">Anniversary</a>
            </li>
        
            
              
              <li class="birthday">
                  <a href="/collections/birthday" title="Birthday">Birthday</a>
            </li>
        
             
              
              <li class="gift-basket">
                  <a href="/collections/gift-basket" title="Gift Basket">Gift Basket</a>
            </li>
        
              
              
              <li class="toys">
                  <a href="/collections/toys" title="Toys">Toys</a>
            </li>
        
              
              
              <li class="valentine-s-day">
                  <a href="/collections/valentine-s-day" title="Valentine&#39;s Day">Valentine&#39;s Day</a>
            </li>
        
        </ul>
    </div>
</div>
    <div class="widget widget__types">
    <h3 class="widget_header">Product Types</h3>
    <div class="widget_content">
        <ul class="list">
        
            
            
            <li class="Bouquets"><a href="/collections/types?q=Bouquets" title="Bouquets">Bouquets</a></li>
        
            
            
            <li class="Gift sets"><a href="/collections/types?q=Gift%20sets" title="Gift sets">Gift sets</a></li>
        
            
            
            <li class="Souvenirs"><a href="/collections/types?q=Souvenirs" title="Souvenirs">Souvenirs</a></li>
        
        </ul>
    </div>
</div>
    <div class="widget widget_best_sellers">
    <h3 class="widget_header">Best Sellers</h3>
    <div class="widget_content">
        <div class="product_listing_sidebar">
        
            <div class="product">

            <div class="product_img">  
                <a href="/products/aqua-pyro-dragons-kit">
                <img src="Gifts _ Gifts_files/aqua_and_pyro_dragons_kit_1_medium.png?v=1404993123" alt="Aqua &amp; Pyro Dragons Kit" />
                </a>
            </div>

            <div class="product_info">
                <div class="product_name">
                    <a href="/products/aqua-pyro-dragons-kit">Aqua & Pyro Dragons Kit</a>
                </div>
                <div class="product_price">
                    
                    <span class="money">$199.00</span>
                    
                    <span class="money compare-at-price">$220.00</span>
                    
                </div>
            </div>

            </div>
        
            <div class="product">

            <div class="product_img">  
                <a href="/products/artisan-fruit-cheese-hamper">
                <img src="Gifts _ Gifts_files/artisan_fruit_and_cheese_hamper_1_medium.png?v=1404993142" alt="Artisan Fruit &amp; Cheese Hamper" />
                </a>
            </div>

            <div class="product_info">
                <div class="product_name">
                    <a href="/products/artisan-fruit-cheese-hamper">Artisan Fruit & Cheese Hamper</a>
                </div>
                <div class="product_price">
                    
                    <span class="money">$78.00</span>
                    
                </div>
            </div>

            </div>
        
            <div class="product">

            <div class="product_img">  
                <a href="/products/be-happy-bouquet">
                <img src="Gifts _ Gifts_files/be_happy_bouquet_1_medium.png?v=1404993171" alt="Be Happy Bouquet" />
                </a>
            </div>

            <div class="product_info">
                <div class="product_name">
                    <a href="/products/be-happy-bouquet">Be Happy Bouquet</a>
                </div>
                <div class="product_price">
                    
                    <span class="money">$170.00</span>
                    
                </div>
            </div>

            </div>
        
        </div>
    </div>
</div>
    </div>
    

    

	</div>

</div>
</div>

<!-- FOOTER -->
<footer>
<div class="container">
  	<div class="footer_content">
    <div class="row">
      	<div class="sep sep__1"></div>
      	<div class="sep sep__2"></div>
      	<div class="sep sep__3"></div>
        <div class="col-sm-3 footer_block footer_block__1">
            <h3>Information</h3>
            <ul>
                
                <li ><a href="/" title="">Home</a></li>
               
                <li ><a href="/pages/about-us" title="">About us</a></li>
               
                <li ><a href="/pages/contact-us" title="">Contact us</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__2">
            <h3>Products</h3>
            <ul>
                
                <li ><a href="/collections/toys" title="">Toys</a></li>
                
                <li ><a href="/collections/gift-basket" title="">Gift Basket</a></li>
              
                <li ><a href="/collections/birthday" title="">Birthday</a></li>
               
                <li ><a href="/collections/anniversary" title="">Anniversary</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__3">
            <h3>My account</h3>
            <ul>
                
                <li ><a href="/account" title="">My account</a></li>
                
                <li ><a href="/account/addresses" title="">My addresses</a></li>
                
                <li class="active"><a href="/cart" title="">My cart</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__4">
			
            <div class="footer_newsletter">
                <h3>newsletter sign up</h3>
                
                    <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post"><input name="form_type" type="hidden" value="customer" /><input name="utf8" type="hidden" value="✓" />
                        <div class="form_wrap">
                            <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter" />
                            <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
                            <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
                            <input type="email" id="email-input" placeholder="your@email.com" name="contact[email]" />
                            
                            <button id="email-submit"><i class="fa fa-angle-right"></i>subscribe</button>
                            <div class="clearfix"></div>
                        </div>
                        
                        
                        
                    </form> 
                
            </div>
            
            <div class="footer_social">
                <h3>follow us</h3>
                <ul>
                    <li><a href="//twitter.com/giveagift"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="//www.facebook.com/giveagift"><i class="fa fa-facebook"></i></a></li>
                    
                    
                    <li><a href="//www.pinterest.com/giveagift/"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="//google.com/+giveagift"><i class="fa fa-google-plus"></i></a></li>
                    
                </ul>
            </div>
        </div>
      	
	</div>
    </div>

</div>
</footer>

<div class="copyright">
  	<div class="container">
    	<p role="contentinfo">&copy; 2015 Gifts. All Rights Reserved. Design by Give a Gift Team.</p>
    </div>
</div>

</div><!-- / #wrapper2 -->
</div><!-- / #wrapper -->

<!-- custom selects -->
<script type="text/javascript">
(function($) {
$(function() {
  $('.header_currency select, #navigation select').styler();
  $('.jq-selectbox__trigger').append('<i class="fa fa-angle-down"></i>');
})  
})(jQuery)
</script>

<!-- currencies selector -->


<script src="/services/javascripts/currencies.js" type="text/javascript"></script>
<script src="Gifts _ Gifts_files/jquery.currencies.min.js?7759" type="text/javascript"></script>

<script>


Currency.format = 'money_format';


var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = "${{amount}} USD";
Currency.money_format[shopCurrency] = "${{amount}}";
  
/* Default currency */
var defaultCurrency = 'USD' || shopCurrency;
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

jQuery('.selected-currency').text(Currency.currentCurrency);

</script>




</body>
</html>