<!DOCTYPE html>

<html class=""><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <title>Gifts | Gifts</title>
    

    <link rel="canonical" href="http://tm-shopify070-gifts.myshopify.com/">
  	<link href="Gifts _ Gifts_files/favicon.ico?7759" rel="shortcut icon" type="image/x-icon">
    <script src="Gifts _ Gifts_files/visits.json" defer="true" async=""></script><script src="Gifts _ Gifts_files/shopify_stats.js" async="" type="text/javascript"></script><script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "tm-shopify070-gifts.myshopify.com";
      Shopify.theme = {"name":"tm-shopify070-gifts","id":9398623,"theme_store_id":null,"role":"main"};

//]]>
</script>



<script id="__st">
//<![CDATA[
var __st={"a":5722457,"offset":-18000,"reqid":"5f8b2669-1b40-4ea4-a6d9-5dd5c4d7e07f","pageurl":"tm-shopify070-gifts.myshopify.com/","u":"025d8041881d","p":"home"};
//]]>
</script>
<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = 'Gifts _ Gifts_files/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>

    <link href="Gifts _ Gifts_files/bootstrap.css" rel="stylesheet" type="text/css" media="all"> 
    <link href="Gifts _ Gifts_files/assets.css" rel="stylesheet" type="text/css" media="all"> 
    <link href="Gifts _ Gifts_files/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="Gifts _ Gifts_files/responsive.css" rel="stylesheet" type="text/css" media="all">
    <link href="Gifts _ Gifts_files/font-awesome.css" rel="stylesheet" type="text/css" media="all">

	<link href="Gifts _ Gifts_files/css.css" rel="stylesheet" type="text/css">
    <link href="Gifts _ Gifts_files/css.css" rel="stylesheet" type="text/css">

    
    

    <script src="Gifts _ Gifts_files/option_selection.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery_006.js" type="text/javascript"></script>  
    <script src="Gifts _ Gifts_files/bootstrap.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery-migrate-1.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery_008.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/shop.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/api.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/ajaxify-shop.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/hoverIntent.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/superfish.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/supersubs.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/sftouchscreen.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery_002.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery_007.js" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery_005.js" type="text/javascript"></script>
  	<script src="Gifts _ Gifts_files/tm-stick-up.js" type="text/javascript"></script>
  	<script src="Gifts _ Gifts_files/jquery_004.js" type="text/javascript"></script>
    

<script src="Gifts _ Gifts_files/currencies.js" type="text/javascript"></script>
<script src="Gifts _ Gifts_files/jquery_003.js" type="text/javascript"></script>

<script>


Currency.format = 'money_format';


var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = "${{amount}} USD";
Currency.money_format[shopCurrency] = "${{amount}}";
  
/* Default currency */
var defaultCurrency = 'USD' || shopCurrency;
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

jQuery('.selected-currency').text(Currency.currentCurrency);

</script>



<div id="wrapper">
<div id="wrapper2">

<!-- HEADER -->
<header id="header">
    <div class="header_row__1">
    <div class="container">
        
        <!-- USER MENU -->
        <ul class="header_user">
        
            <li class="firstItem"><a href="http://tm-shopify070-gifts.myshopify.com/account/login" id="customer_login_link">Log in</a></li>
            
            <li><a href="http://tm-shopify070-gifts.myshopify.com/account/register" id="customer_register_link">Create an account</a></li>
            
        
        <li class="checkout lastItem"><a href="http://tm-shopify070-gifts.myshopify.com/cart">Check out</a></li>
        </ul>
        

        <!-- CUSTOM HEADER BLOCK -->
        <div class="custom_header">Welcome to Our Online Store!</div>

        <!-- CURRENCIES -->
        
        <div class="header_currency">
    <div id="currencies-styler" class="jq-selectbox jqselect" style="display: inline-block; position: relative; z-index:100"><select style="margin: 0px; padding: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0;" id="currencies" name="currencies">
      
      
      <option value="USD" selected="selected">USD</option>
      
          
      
          
          <option value="EUR">EUR</option>
          
      
          
          <option value="GBP">GBP</option>
          
      
    </select><div class="jq-selectbox__select" style="position: relative"><div class="jq-selectbox__select-text">USD</div><div class="jq-selectbox__trigger"><div class="jq-selectbox__trigger-arrow"></div><i class="fa fa-angle-down"></i></div></div><div class="jq-selectbox__dropdown" style="position: absolute; display: none;"><ul style="position: relative; list-style: none; overflow: auto; overflow-x: hidden"><li style="display: block; white-space: nowrap;" class="selected sel">USD</li><li style="display: block; white-space: nowrap;" class="">EUR</li><li style="display: block; white-space: nowrap;" class="">GBP</li></ul></div></div>
</div>
        
    </div>
    </div>

    <div class="header_row__2">
        <div class="container">
            <!-- LOGO -->
            <div id="logo">
                <a href="http://tm-shopify070-gifts.myshopify.com/">Gifts</a>
            </div>
    
            <!-- HEADER CART -->
            <div class="header_cart"><a href="http://tm-shopify070-gifts.myshopify.com/cart"><i class="fa fa-shopping-cart"></i><span>My cart:</span><span class="cart-total-items"><span class="count">0</span></span><span>item(s)</span></a></div>
        </div>

        
        <!-- NAVIGATION -->
        <div style="position: relative; top: 0px;" id="navigation">
        <div class="container">
        <nav role="navigation">
            <div class="row">
                <div class="col-sm-6 col-md-9">
                    <ul class="sf-menu visible-md visible-lg sf-js-enabled sf-arrows">
                    
                    
                    <li class="active firstItem">
                        <a href="http://tm-shopify070-gifts.myshopify.com/">Home</a>
                    </li>
                    
                    
                    
                        <li class="">
                            <a class="sf-with-ul" href="http:/Gifts _ Gifts_files/all">Products</a>
                            <ul style="float: none; width: 14.8462em; display: none;" class="dropdown">
                            
                            <li style="white-space: normal; float: none; width: 100%;" class="firstItem"><a style="float: none; width: auto;" href="Gifts _ Gifts_files/Toys.html">Toys</a></li>
                            
                            <li style="white-space: normal; float: none; width: 100%;"><a style="float: none; width: auto;" href="Gifts _ Gifts_files/Gift Basket.html">Gift Basket</a></li>
                            
                            <li style="white-space: normal; float: none; width: 100%;"><a style="float: none; width: auto;" href="hGifts _ Gifts_files/birthday">Birthday</a></li>
                          
                            <li style="white-space: normal; float: none; width: 100%;"><a style="float: none; width: auto;" href="Gifts _ Gifts_files/anniversary">Anniversary</a></li>
                            
                            <li style="white-space: normal; float: none; width: 100%;" class="lastItem"><a style="float: none; width: auto;" href="Gifts _ Gifts_files/valentine-s-day">Valentine's Day</a></li>
                            
                            </ul>
                        </li>
                    
                  
                    
                    <li class="">
                        <a href="http://tm-shopify070-gifts.myshopify.com/pages/about-us">About Us</a>
                    </li>
                   
                    
                    <li class="lastItem">
                        <a href="http://tm-shopify070-gifts.myshopify.com/pages/contact-us">Contact us</a>
                    </li>
                    
                    
                    </ul>
                    
                    
                    <div id="mobile_menu-styler" class="jq-selectbox jqselect visible-xs visible-sm" style="display: inline-block; position: relative; z-index: 100;"><select style="margin: 0px; padding: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0;" name="main_navigation" id="mobile_menu" class="visible-xs visible-sm">
                      
                        
                        <option value="/" selected="selected">Home</option>
                        
                        
                        
                      
                        
                        <option value="/collections/all">Products</option>
                        
                        
                          
                          <option value="/collections/toys">- Toys</option>
                          
                        
                          
                          <option value="/collections/gift-basket">- Gift Basket</option>
                          
                        
                          
                          <option value="/collections/birthday">- Birthday</option>
                          
                         
                          <option value="/collections/anniversary">- Anniversary</option>
                          
                        
                          
                          <option value="/collections/valentine-s-day">- Valentine's Day</option>
                          
                       
                        
                        <option value="/pages/about-us">About Us</option>
                        
                        
                      
                        
                        <option value="/pages/documentation">Documentation</option>
                        
                      
                      
                      
                    
                    </select><div class="jq-selectbox__select" style="position: relative"><div style="width: 0px;" class="jq-selectbox__select-text">Home</div><div class="jq-selectbox__trigger"><div class="jq-selectbox__trigger-arrow"></div><i class="fa fa-angle-down"></i></div></div><div class="jq-selectbox__dropdown" style="position: absolute; left: 0px; top: 0px; display: none;"><ul style="position: relative; list-style: none; overflow: auto; overflow-x: hidden"><li style="display: block; white-space: nowrap;" class="selected sel">Home</li><li style="display: block; white-space: nowrap;" class="">Products</li><li style="display: block; white-space: nowrap;" class="">- Toys</li><li style="display: block; white-space: nowrap;" class="">- Gift Basket</li><li style="display: block; white-space: nowrap;" class="">- Corporate Gifts</li><li style="display: block; white-space: nowrap;" class="">- Congratulations</li><li style="display: block; white-space: nowrap;" class="">- Birthday</li><li style="display: block; white-space: nowrap;" class="">- Autumn Bouquets</li><li style="display: block; white-space: nowrap;" class="">- Anniversary</li><li style="display: block; white-space: nowrap;" class="">- Valentine's Day</li><li style="display: block; white-space: nowrap;" class="">Blog</li><li style="display: block; white-space: nowrap;" class="">About Us</li><li style="display: block; white-space: nowrap;" class="">Documentation</li><li style="display: block; white-space: nowrap;" class="">Contact us</li></ul></div></div>
                </div>
        
                <div class="col-sm-6 col-md-3">
                    <!-- HEADER SEARCH -->
                    <div class="header_search">
                        <form action="/search" method="get" class="search-form" role="search">
                        <input value="Search store..." id="search-field" name="q" placeholder="Search store..." class="hint" type="text">
                        <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        </div>
        </div><div style="position: relative; display: block; height: 0px;" class="pseudoStickyBlock"></div>
        
    </div>
</header>





<!-- SHOWCASE CUSTOM BLOCKS -->
<div id="showcase">
<div class="showcase_content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                
<div class="slider_wrap">
<div class="nivoSlider">


<a style="display: none;" class="nivo-imageLink" href="Giveagift/Toys.html">
<img style="display: none;" src="Gifts _ Gifts_files/slide1_image.jpg" alt="" title="#htmlcaption-1">
</a>



<a style="display: none;" class="nivo-imageLink" href="giveagift/Gift Basket.html">
<img style="width: 570px; visibility: hidden;" src="Gifts _ Gifts_files/slide2_image.jpg" alt="" title="#htmlcaption-2">
</a>



<a style="display: block;" class="nivo-imageLink" href="giveagift/corporate-gifts">
<img style="width: 570px; visibility: hidden;" src="Gifts _ Gifts_files/slide3_image.jpg" alt="" title="#htmlcaption-3">
</a>



<a style="display: none;" class="nivo-imageLink" href="http://tm-shopify070-gifts.myshopify.com/collections/congratulations">
<img style="display: none;" src="Gifts _ Gifts_files/slide4_image.jpg" alt="" title="#htmlcaption-4">
</a>




<img style="display: inline; height: 498px;" src="Gifts _ Gifts_files/slide3_image.jpg" alt="" class="nivo-main-image"><div style="display: block;" class="nivo-caption">
        <a href="http://tm-shopify070-gifts.myshopify.com/collections/corporate-gifts">
        <h2>Heart Trinket Box <span>$22.00</span></h2>
        </a>
    </div><div style="left: 0px; width: 570px; height: 498px; opacity: 1; overflow: hidden;" class="nivo-slice" name="0"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-0px;"></div><div style="left: 38px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="1"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-38px;"></div><div style="left: 76px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="2"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-76px;"></div><div style="left: 114px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="3"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-114px;"></div><div style="left: 152px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="4"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-152px;"></div><div style="left: 190px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="5"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-190px;"></div><div style="left: 228px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="6"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-228px;"></div><div style="left: 266px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="7"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-266px;"></div><div style="left: 304px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="8"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-304px;"></div><div style="left: 342px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="9"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-342px;"></div><div style="left: 380px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="10"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-380px;"></div><div style="left: 418px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="11"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-418px;"></div><div style="left: 456px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="12"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-456px;"></div><div style="left: 494px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="13"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-494px;"></div><div style="left: 532px; width: 38px; height: 498px; opacity: 0; overflow: hidden;" class="nivo-slice" name="14"><img src="Gifts _ Gifts_files/slide3_image.jpg" style="position:absolute; width:570px; height:auto; display:block !important; top:0; left:-532px;"></div></div><div class="nivo-controlNav"><a class="nivo-control" rel="0"><i class="fa fa-circle-o"></i><span>1</span></a><a class="nivo-control" rel="1"><i class="fa fa-circle-o"></i><span>2</span></a><a class="nivo-control active" rel="2"><i class="fa fa-circle-o"></i><span>3</span></a><a class="nivo-control" rel="3"><i class="fa fa-circle-o"></i><span>4</span></a></div>
</div>


<div class="caption_hidden">

    <div id="htmlcaption-1">
        <a href="http://tm-shopify070-gifts.myshopify.com/collections/toys">
        <h2>Personalised Candle <span>$25.00</span></h2>
        </a>
    </div>

    <div id="htmlcaption-2">
        <a href="http://tm-shopify070-gifts.myshopify.com/collections/gift-basket">
        <h2>Dog House Wall Sticker <span>$19.99</span></h2>
        </a>
    </div>

    <div id="htmlcaption-3">
        <a href="http://tm-shopify070-gifts.myshopify.com/collections/corporate-gifts">
        <h2>Heart Trinket Box <span>$22.00</span></h2>
        </a>
    </div>

    <div id="htmlcaption-4">
        <a href="http://tm-shopify070-gifts.myshopify.com/collections/congratulations">
        <h2>Penguin Or Reindeer Wine Rack <span>$18.00</span></h2>
        </a>
    </div>

    <div id="htmlcaption-5">
        
        <h2> <span></span></h2>
        
    </div>

</div>


<script type="text/javascript">
$(window).load(function() {
    $('.nivoSlider').nivoSlider({
        effect:'fade',
        animSpeed:500,
        pauseTime:7000,
        startSlide:0,
        pauseOnHover:true,
        directionNav:false,
        directionNavHide:false,
        controlNav:true
    });
});
</script>

            </div>
            <div class="col-sm-3 custom_showcase custom_showcase1">
                <a href="http://tm-shopify070-gifts.myshopify.com/collections/valentine-s-day">
                    <span class="banner_img"><img src="Gifts _ Gifts_files/custom_showcase1_img.jpg" alt=""></span>
                  <span class="banner_caption"><span><span><span>WEDDINGS STYLING YOUR DAY</span></span></span></span>
                </a>
            </div>
            <div class="col-sm-3 custom_showcase custom_showcase2">
                <a href="http://tm-shopify070-gifts.myshopify.com/collections/anniversary">
                    <span class="banner_img"><img src="Gifts _ Gifts_files/custom_showcase2_img.jpg" alt=""></span>
                    <span class="banner_caption"><span><span><span>STORAGE &amp; ORGANISERS</span></span></span></span>
                </a>
            </div>
        </div>
        
        <h2 class="page_heading"><span><span><span>Featured Products</span></span></span></h2>
    </div>
</div>
</div>


<!-- MAIN CONTENT -->
<div id="main" role="main">
<div class="container">







    <div class="row sidebar_left sidebar_off">

    <div class="column_center">
    <div id="main_content" class="col-sm-12">
    
    

<div class="index-scope">



  <!--

-->


  
  

  

<div class="product-listing__index">
    
      
    
    <div class="product_listing_main"><div class="row">
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="http://tm-shopify070-gifts.myshopify.com/products/double-delight-tower-with-one-dozen-cookies">
    	<img src="Gifts _ Gifts_files/double_delight_tower_with_one_dozen_cookies_1_medium.png" alt="Double Delight Tower with One Dozen Cookies">
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="http://tm-shopify070-gifts.myshopify.com/products/double-delight-tower-with-one-dozen-cookies">Double Delight Tower w...</a>
    </div>
    <div class="product_desc">Architecto veniam fugit impedit unde nam iste perferendis...</div>
    <div class="product_price">
        
        <span data-currency-usd="$399.00" class="money">$399.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740192119" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    


   
    
      
    
    
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/artisan-cheese-hamper">
    	<img src="Gifts _ Gifts_files/artisan_cheese_hamper_1_medium.png" alt="Artisan Cheese Hamper">
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/artisan-cheese-hamper">Artisan Cheese Hamper</a>
    </div>
    <div class="product_desc">Repellendus laborum facilis illo esse recusandae architec...</div>
    <div class="product_price">
        
        <span data-currency-usd="$60.00" class="money">$60.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740190587" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    


   
    
      
    
    
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="http://tm-shopify070-gifts.myshopify.com/products/baby-first-block">
    	<img src="Gifts _ Gifts_files/baby_first_block_1_medium.png" alt="Baby First Block">
        <div class="sale">sale</div>
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/baby-first-block">Baby First Block</a>
    </div>
    <div class="product_desc">Voluptatum, velit, sapiente, tempore quaerat ullam fugit ...</div>
    <div class="product_price">
        
        <span data-currency-usd="$399.00" class="money">$399.00</span>
        
        <span data-currency-usd="$500.00" class="money compare-at-price">$500.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740191003" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    


   
    
      
    
    
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/artisan-fruit-cheese-hamper">
    	<img src="Gifts _ Gifts_files/artisan_fruit_and_cheese_hamper_1_medium.png" alt="Artisan Fruit &amp; Cheese Hamper">
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/artisan-fruit-cheese-hamper">Artisan Fruit &amp; Cheese...</a>
    </div>
    <div class="product_desc">Architecto veniam fugit impedit unde nam iste perferendis...</div>
    <div class="product_price">
        
        <span data-currency-usd="$78.00" class="money">$78.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740190859" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    </div></div>
    


   
    
      
    
    <div class="product_listing_main"><div class="row">
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/bath-body-invigoration">
    	<img src="Gifts _ Gifts_files/bath_and_body_invigoration_1_medium.png" alt="Bath &amp; Body Invigoration">
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/bath-body-invigoration">Bath &amp; Body Invigoration</a>
    </div>
    <div class="product_desc">Et, maxime, dolor, voluptatibus, labore reiciendis fugit ...</div>
    <div class="product_price">
        
        <span data-currency-usd="$420.00" class="money">$420.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740191055" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    


   
    
      
    
    
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/be-happy-bouquet">
    	<img src="Gifts _ Gifts_files/be_happy_bouquet_1_medium.png" alt="Be Happy Bouquet">
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/be-happy-bouquet">Be Happy Bouquet</a>
    </div>
    <div class="product_desc">Eaque, pariatur mollitia ipsa sit animi. Cumque, ipsa, ni...</div>
    <div class="product_price">
        
        <span data-currency-usd="$170.00" class="money">$170.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740191087" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    


   
    
      
    
    
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="http://tm-shopify070-gifts.myshopify.com/products/bon-appetit-gourmet-gift-basket">
    	<img src="Gifts _ Gifts_files/bon_appetit_gourmet_gift_basket_1_medium.png" alt="Bon Appetit Gourmet Gift Basket">
        <div class="sale">sale</div>
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="/bon-appetit-gourmet-gift-basket">Bon Appetit Gourmet Gi...</a>
    </div>
    <div class="product_desc">In, dolore, quaerat, ullam sequi praesentium earum exerci...</div>
    <div class="product_price">
        
        <span data-currency-usd="$320.00" class="money">$320.00</span>
        
        <span data-currency-usd="$400.00" class="money compare-at-price">$400.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740191175" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    


   
    
      
    
    
    






<div class="product col-sm-3">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/champagne-caviar">
    	<img src="Gifts _ Gifts_files/champagne_and_caviar_1_medium.png" alt="Champagne &amp; Caviar">
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/champagne-caviar">Champagne &amp; Caviar</a>
    </div>
    <div class="product_desc">Assumenda in nesciunt odio placeat dolorum cupiditate hic...</div>
    <div class="product_price">
        
        <span data-currency-usd="$265.00" class="money">$265.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input name="id" value="740191231" type="hidden">
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    


</div></div>   
    
</div>

</div>

    
    </div>
    </div>

    

    

	</div>

</div>
</div>

<!-- FOOTER -->
<footer>
<div class="container">
  	<div class="footer_content">
    <div class="row">
      	<div class="sep sep__1"></div>
      	<div class="sep sep__2"></div>
      	<div class="sep sep__3"></div>
        <div class="col-sm-3 footer_block footer_block__1">
            <h3>Information</h3>
            <ul>
                
                <li class="active firstItem"><a href="http://tm-shopify070-gifts.myshopify.com/" title="">Home</a></li>
              
                <li><a href="http://tm-shopify070-gifts.myshopify.com/pages/about-us" title="">About us</a></li>
                
                <li><a href="http://tm-shopify070-gifts.myshopify.com/pages/documentation" title="">Documentation</a></li>
                
                <li class="lastItem"><a href="http://tm-shopify070-gifts.myshopify.com/pages/contact-us" title="">Contact us</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__2">
            <h3>Products</h3>
            <ul>
                
                <li class="firstItem"><a href="http://tm-shopify070-gifts.myshopify.com/collections/toys" title="">Toys</a></li>
                
                <li><a href="http://tm-shopify070-gifts.myshopify.com/collections/gift-basket" title="">Gift Basket</a></li>
                
                <li><a href="http://tm-shopify070-gifts.myshopify.com/collections/birthday" title="">Birthday</a></li>
             
                <li class="lastItem"><a href="http://tm-shopify070-gifts.myshopify.com/collections/anniversary" title="">Anniversary</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__3">
            <h3>My account</h3>
            <ul>
                
                <li class="firstItem"><a href="http://tm-shopify070-gifts.myshopify.com/account" title="">My account</a></li>
                
                <li><a href="http://tm-shopify070-gifts.myshopify.com/account/addresses" title="">My addresses</a></li>
                
                <li class="lastItem"><a href="http://tm-shopify070-gifts.myshopify.com/cart" title="">My cart</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__4">
			
            <div class="footer_newsletter">
                <h3>newsletter sign up</h3>
                
                    <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post"><input name="form_type" value="customer" type="hidden"><input name="utf8" value="✓" type="hidden">
                        <div class="form_wrap">
                            <input id="contact_tags" name="contact[tags]" value="prospect,newsletter" type="hidden">
                            <input id="newsletter-first-name" name="contact[first_name]" value="Subscriber" type="hidden">
                            <input id="newsletter-last-name" name="contact[last_name]" value="Newsletter" type="hidden">
                            <input value="your@email.com" class="hint" id="email-input" placeholder="your@email.com" name="contact[email]" type="email">
                            
                            <button id="email-submit"><i class="fa fa-angle-right"></i>subscribe</button>
                            <div class="clearfix"></div>
                        </div>
                        
                        
                        
                    </form> 
                
            </div>
            
            <div class="footer_social">
                <h3>follow us</h3>
                <ul>
                    <li class="firstItem"><a href="http://twitter.com/giveagift"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.facebook.com/giveagift"><i class="fa fa-facebook"></i></a></li>
                    
                    
                    <li><a href="http://www.pinterest.com/giveagift/"><i class="fa fa-pinterest"></i></a></li>
                    <li class="lastItem"><a href="http://google.com/+giveagift"><i class="fa fa-google-plus"></i></a></li>
                    
                </ul>
            </div>
        </div>
      	
	</div>
    </div>

</div>
</footer>

<div class="copyright">
  	<div class="container">
    	<p role="contentinfo">© 2014 Gifts. All Rights Reserved. Design by Give a Gift Team</a>. 
    </div>
</div>

</div><!-- / #wrapper2 -->
</div><!-- / #wrapper -->

<!-- custom selects -->
<script type="text/javascript">
(function($) {
$(function() {
  $('.header_currency select, #navigation select').styler();
  $('.jq-selectbox__trigger').append('<i class="fa fa-angle-down"></i>');
})  
})(jQuery)
</script>

<!-- currencies selector -->


<script src="Gifts _ Gifts_files/currencies.js" type="text/javascript"></script>
<script src="Gifts _ Gifts_files/jquery_003.js" type="text/javascript"></script>

<script>


Currency.format = 'money_format';


var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = "${{amount}} USD";
Currency.money_format[shopCurrency] = "${{amount}}";
  
/* Default currency */
var defaultCurrency = 'USD' || shopCurrency;
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

jQuery('.selected-currency').text(Currency.currentCurrency);

</script>

</body></html>