
<!doctype html>
 <html class="no-js"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    
    <title>Products | Gifts</title>
    

    <link rel="canonical" href="Gifts _ Gifts_files/collections/all" />
  	<link href="Gifts _ Gifts_files/assets/favicon.ico?7759" rel="shortcut icon" type="image/x-icon" />
    <link href="/collections/all.atom" title="Feed" rel="alternate" type="application/atom+xml" />
<script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "tm-shopify070-gifts.myshopify.com";
      Shopify.theme = {"name":"tm-shopify070-gifts","id":9398623,"theme_store_id":null,"role":"main"};

//]]>
</script>



<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>
<link rel="next" href="/collections/all?page=2"/>

    <link href="Gifts _ Gifts_files/bootstrap.css?7759" rel="stylesheet" type="text/css"  media="all"  /> 
    <link href="Gifts _ Gifts_files/assets.css?7759" rel="stylesheet" type="text/css"  media="all"  /> 
    <link href="Gifts _ Gifts_files/style.css?7759" rel="stylesheet" type="text/css"  media="all"  />
    <link href="Gifts _ Gifts_files/responsive.css?7759" rel="stylesheet" type="text/css"  media="all"  />
    <link href="Gifts _ Gifts_files/font-awesome.css?7759" rel="stylesheet" type="text/css"  media="all"  />

	<link href='//fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>

    

    <script src="Gifts _ Gifts_files/option_selection.js?276129428e37c252aacb445d76777cd281f92ae8" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>  
    <script src="Gifts _ Gifts_files/bootstrap.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery-migrate-1.2.1.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.mobile.customized.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/shop.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.easing.1.3.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/api.jquery.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/ajaxify-shop.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/hoverIntent.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/superfish.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/supersubs.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/sftouchscreen.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.fancybox-1.3.4.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.bxslider.min.js?7759" type="text/javascript"></script>
    <script src="Gifts _ Gifts_files/jquery.nivoslider.js?7759" type="text/javascript"></script>
  	<script src="Gifts _ Gifts_files/tm-stick-up.js?7759" type="text/javascript"></script>
  	<script src="Gifts _ Gifts_files/jquery.formstyler.min.js?7759" type="text/javascript"></script>
    

<script src="/services/javascripts/currencies.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0572/2457/t/2/assets/jquery.currencies.min.js?7759" type="text/javascript"></script>

<script>


Currency.format = 'money_format';


var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = "${{amount}} USD";
Currency.money_format[shopCurrency] = "${{amount}}";
  
/* Default currency */
var defaultCurrency = 'USD' || shopCurrency;
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

jQuery('.selected-currency').text(Currency.currentCurrency);

</script>



</head>
<body id="products" class="template-collection" >


<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper">
<div id="wrapper2">

<!-- HEADER -->
<header id="header">
    <div class="header_row__1">
    <div class="container">
        
        <!-- USER MENU -->
        <ul class="header_user">
        
            <li><a href="/account/login" id="customer_login_link">Log in</a></li>
            
            <li><a href="/account/register" id="customer_register_link">Create an account</a></li>
            
        
        <li class="checkout"><a href="/cart">Check out</a></li>
        </ul>
        

        <!-- CUSTOM HEADER BLOCK -->
        <div class="custom_header">Welcome to Our Online Store!</div>

        <!-- CURRENCIES -->
        
        <div class="header_currency">
    <select id="currencies" name="currencies">
      
      
      <option value="USD" selected="selected">USD</option>
      
          
      
          
          <option value="EUR">EUR</option>
          
      
          
          <option value="GBP">GBP</option>
          
      
    </select>
</div>
        
    </div>
    </div>

    <div class="header_row__2">
        <div class="container">
            <!-- LOGO -->
            <div id="logo">
                <a href="/">Gifts</a>
            </div>
    
            <!-- HEADER CART -->
            <div class="header_cart"><a href="/cart"><i class="fa fa-shopping-cart"></i><span>My cart:</span><span class="cart-total-items"><span class="count">0</span></span><span>item(s)</span></a></div>
        </div>

        
        <!-- NAVIGATION -->
        <div id="navigation">
        <div class="container">
        <nav role="navigation">
            <div class="row">
                <div class="col-sm-6 col-md-9">
                    <ul class="sf-menu visible-md visible-lg">
                    
                    
                    <li class="">
                        <a href="/">Home</a>
                    </li>
                    
                    
                    
                        <li class=" active">
                            <a href="/giveagift/all">Products</a>
                            <ul class="dropdown">
                            
                            <li><a href="/giveagift/Toys.html">Toys</a></li>
                            
                            <li><a href="/collections/Gift Basket.html">Gift Basket</a></li>
                            
                            <li><a href="/collections/birthday">Birthday</a></li>
                            
                            <li><a href="/collections/anniversary">Anniversary</a></li>
                            
                            <li><a href="/collections/valentine-s-day">Valentine's Day</a></li>
                            
                            </ul>
                        </li>
                    
                    
                    
                   
                    
                    
                    
                    <li class="">
                        <a href="/pages/about-us">About Us</a>
                    </li>
                    
                    
                    
                    
                    <li class="">
                        <a href="/pages/contact-us">Contact us</a>
                    </li>
                    
                    
                    </ul>
                    
                    
                    <select name="main_navigation" id="mobile_menu" class="visible-xs visible-sm">
                      
                        
                        <option value="/">Home</option>
                        
                        
                      
                        
                        <option value="/collections/all" selected="selected">Products</option>
                        
                        
                        
                          
                          <option value="/collections/toys">- Toys</option>
                          
                        
                          
                          <option value="/collections/gift-basket">- Gift Basket</option>
                          
                        
                            
                          <option value="/collections/birthday">- Birthday</option>
                          
                        
                          
                          <option value="/collections/anniversary">- Anniversary</option>
                          
                        
                          
                          <option value="/collections/valentine-s-day">- Valentine's Day</option>
                          
                        
                      
                          
                      
                        
                        <option value="/pages/about-us">About Us</option>
                        
                      
                        
                      
                        
                        <option value="/pages/contact-us">Contact us</option>
                        
                        
                      
                      
                    
                    </select>
                </div>
        
                <div class="col-sm-6 col-md-3">
                    <!-- HEADER SEARCH -->
                    <div class="header_search">
                        <form action="/search" method="get" class="search-form" role="search">
                        <input id="search-field" name="q" type="text" placeholder="Search store..." class="hint" />
                        <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        </div>
        </div>
        
    </div>
</header>






<!-- MAIN CONTENT -->
<div id="main" role="main">
<div class="container">


<ul class="breadcrumb">
  <li><a href="/" class="homepage-link" title="Back to the frontpage">Home</a></li>
  
      
        <li><span class="page-title">Products</span></li>
      
  
</ul>






    <div class="row sidebar_left ">

    <div class="column_center">
    <div id="main_content" class="col-sm-9">
    
    



<div class="collection-scope">

   

  <div class="page_header">
    <h1 class="page_heading">Products</h1>
  </div>

  <div class="page_content">  
    
    
    <ul class="tags clearfix">
      <li class="active">
        
        
        <a href="/giveagift/all">All</a>
        
        
      </li> 
    
        
    </ul>
    



    
 	
    
    
    <div class="product-listing__collection">
          
          
    
    <div class="product_listing_main"><div class="row">
    




<div class="product col-sm-4">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/aqua-pyro-dragons-kit">
    	<img src="Gifts _ Gifts_files/aqua_and_pyro_dragons_kit_1_medium.png?v=1404993123" alt="Aqua &amp; Pyro Dragons Kit" />
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/aqua-pyro-dragons-kit">Aqua & Pyro Dragons Kit</a>
    </div>
    <div class="product_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, ab, eligendi, tempore quo qu...</div>
    <div class="product_price">
        
        <span class="money">$199.00</span>
        
        <span class="money compare-at-price">$220.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input type="hidden" name="id" value="740190463" />
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    



        
          
    
    
    






<div class="product col-sm-4">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/artisan-cheese-hamper">
    	<img src="Gifts _ Gifts_files/artisan_cheese_hamper_1_medium.png?v=1404993133" alt="Artisan Cheese Hamper" />
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/artisan-cheese-hamper">Artisan Cheese Hamper</a>
    </div>
    <div class="product_desc">Repellendus laborum facilis illo esse recusandae architecto dolorem vel eum unde maxime in nemo o...</div>
    <div class="product_price">
        
        <span class="money">$60.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input type="hidden" name="id" value="740190587" />
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    



        
          
    
    
    






<div class="product col-sm-4">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/artisan-fruit-cheese-hamper">
    	<img src="Gifts _ Gifts_files/artisan_fruit_and_cheese_hamper_1_medium.png?v=1404993142" alt="Artisan Fruit &amp; Cheese Hamper" />
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/artisan-fruit-cheese-hamper">Artisan Fruit & Cheese Hamper</a>
    </div>
    <div class="product_desc">Architecto veniam fugit impedit unde nam iste perferendis quas omnis perspiciatis voluptate solut...</div>
    <div class="product_price">
        
        <span class="money">$78.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input type="hidden" name="id" value="740190859" />
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    </div></div>
    



        
          
    
    <div class="product_listing_main"><div class="row">
    






<div class="product col-sm-4">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/baby-first-block">
    	<img src="Gifts _ Gifts_files\baby_first_block_1_medium.png" alt="Baby First Block" />
       
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/baby-first-block">Baby First Block</a>
    </div>
    <div class="product_desc">Voluptatum, velit, sapiente, tempore quaerat ullam fugit assumenda cum ut temporibus accusantium ...</div>
    <div class="product_price">
        
        <span class="money">$399.00</span>
        
        <span class="money compare-at-price">$500.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input type="hidden" name="id" value="740191003" />
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    



        
          
    
    
    






<div class="product col-sm-4">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/bath-body-invigoration">
    	<img src="Gifts _ Gifts_files/bath_and_body_invigoration_1_medium.png?v=1404993161" alt="Bath &amp; Body Invigoration" />
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/bath-body-invigoration">Bath & Body Invigoration</a>
    </div>
    <div class="product_desc">Et, maxime, dolor, voluptatibus, labore reiciendis fugit voluptas cumque cum non dicta molestiae ...</div>
    <div class="product_price">
        
        <span class="money">$420.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input type="hidden" name="id" value="740191055" />
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    
    
    



        
          
    
    
    






<div class="product col-sm-4">
<div>

<div class="product_img">  
    <a href="Gifts _ Gifts_files/be-happy-bouquet">
    	<img src="Gifts _ Gifts_files/be_happy_bouquet_1_medium.png?v=1404993171" alt="Be Happy Bouquet" />
        
    </a>
</div>

<div class="product_info">
    <div class="product_name">
        <a href="Gifts _ Gifts_files/be-happy-bouquet">Be Happy Bouquet</a>
    </div>
    <div class="product_desc">Eaque, pariatur mollitia ipsa sit animi. Cumque, ipsa, nihil, non rem cum at ipsum totam doloribu...</div>
    <div class="product_price">
        
        <span class="money">$170.00</span>
        
    </div>
    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
<form method="post" action="/cart/add">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
    
        <input type="hidden" name="id" value="740191087" />
    

  	

	<!-- START BUY -->
	    		    
		    <button class="btn btn-cart" type="submit">Add to cart</button>
		
	<!-- END BUY -->
</form>         
</div>
  
</div>
</div>


    


</div></div>
        
    </div>
  
    
    <div id="pagination">
      <span class="page current">1</span> <span class="page"><a href="/collections/all?page=2" title="">2</a></span> <span class="page"><a href="/collections/all?page=3" title="">3</a></span> <span class="next"><a href="/collections/all?page=2" title="">Next &raquo;</a></span>
    </div>
      
  </div>
</div>


    
    </div>
    </div>

    
    <div class="column_left column col-sm-3">
    <div class="widget widget__collections">
    <h3 class="widget_header">Collections</h3>
    <div class="widget_content">
        <ul class="list">
        
              
              
              <li class="anniversary">
                  <a href="/collections/anniversary" title="Anniversary">Anniversary</a>
            </li>
        
              
             
              
              <li class="birthday">
                  <a href="/collections/birthday" title="Birthday">Birthday</a>
            </li>
        
              
           
              
              
              <li class="gift-basket">
                  <a href="/collections/gift-basket" title="Gift Basket">Gift Basket</a>
            </li>
        
              
              
              <li class="toys">
                  <a href="/collections/toys" title="Toys">Toys</a>
            </li>
        
              
              
              <li class="valentine-s-day">
                  <a href="/collections/valentine-s-day" title="Valentine&#39;s Day">Valentine&#39;s Day</a>
            </li>
        
        </ul>
    </div>
</div>
    <div class="widget widget__types">
    <h3 class="widget_header">Product Types</h3>
    <div class="widget_content">
        <ul class="list">
        
            
            
            <li class="Bouquets"><a href="/collections/types?q=Bouquets" title="Bouquets">Bouquets</a></li>
        
            
            
            <li class="Gift sets"><a href="/collections/types?q=Gift%20sets" title="Gift sets">Gift sets</a></li>
        
            
            
            <li class="Souvenirs"><a href="/collections/types?q=Souvenirs" title="Souvenirs">Souvenirs</a></li>
        
        </ul>
    </div>
</div>
    <div class="widget widget_best_sellers">
    <h3 class="widget_header">Best Sellers</h3>
    <div class="widget_content">
        <div class="product_listing_sidebar">
        
            <div class="product">

            <div class="product_img">  
                <a href="Gifts _ Gifts_files/aqua-pyro-dragons-kit">
                <img src="Gifts _ Gifts_files/aqua_and_pyro_dragons_kit_1_medium.png?v=1404993123" alt="Aqua &amp; Pyro Dragons Kit" />
                </a>
            </div>

            <div class="product_info">
                <div class="product_name">
                    <a href="Gifts _ Gifts_files/aqua-pyro-dragons-kit">Aqua & Pyro Dragons Kit</a>
                </div>
                <div class="product_price">
                    
                    <span class="money">$199.00</span>
                    
                    <span class="money compare-at-price">$220.00</span>
                    
                </div>
            </div>

            </div>
        
            <div class="product">

            <div class="product_img">  
                <a href="Gifts _ Gifts_files/artisan-fruit-cheese-hamper">
                <img src="Gifts _ Gifts_files/artisan_fruit_and_cheese_hamper_1_medium.png?v=1404993142" alt="Artisan Fruit &amp; Cheese Hamper" />
                </a>
            </div>

            <div class="product_info">
                <div class="product_name">
                    <a href="Gifts _ Gifts_files/artisan-fruit-cheese-hamper">Artisan Fruit & Cheese Hamper</a>
                </div>
                <div class="product_price">
                    
                    <span class="money">$78.00</span>
                    
                </div>
            </div>

            </div>
        
            <div class="product">

            <div class="product_img">  
                <a href="Gifts _ Gifts_files/be-happy-bouquet">
                <img src="Gifts _ Gifts_files/be_happy_bouquet_1_medium.png?v=1404993171" alt="Be Happy Bouquet" />
                </a>
            </div>

            <div class="product_info">
                <div class="product_name">
                    <a href="Gifts _ Gifts_files/be-happy-bouquet">Be Happy Bouquet</a>
                </div>
                <div class="product_price">
                    
                    <span class="money">$170.00</span>
                    
                </div>
            </div>

            </div>
        
        </div>
    </div>
</div>
    </div>
    

    

	</div>

</div>
</div>

<!-- FOOTER -->
<footer>
<div class="container">
  	<div class="footer_content">
    <div class="row">
      	<div class="sep sep__1"></div>
      	<div class="sep sep__2"></div>
      	<div class="sep sep__3"></div>
        <div class="col-sm-3 footer_block footer_block__1">
            <h3>Information</h3>
            <ul>
                
                <li ><a href="/" title="">Home</a></li>
                
                
                <li ><a href="/blogs/blog" title="">Blog</a></li>

                
                <li ><a href="/pages/about-us" title="">About us</a></li>
              
                
                <li ><a href="/pages/contact-us" title="">Contact us</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__2">
            <h3>Products</h3>
            <ul>
                
                <li ><a href="/collections/toys" title="">Toys</a></li>
                
                <li ><a href="/collections/gift-basket" title="">Gift Basket</a></li>
                
                <li ><a href="/collections/birthday" title="">Birthday</a></li>
                
                <li ><a href="/collections/anniversary" title="">Anniversary</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__3">
            <h3>My account</h3>
            <ul>
                
                <li ><a href="/account" title="">My account</a></li>
                
                <li ><a href="/account/addresses" title="">My addresses</a></li>
                
                <li ><a href="/cart" title="">My cart</a></li>
                
            </ul>
        </div>

        <div class="col-sm-3 footer_block footer_block__4">
			
            <div class="footer_newsletter">
                <h3>newsletter sign up</h3>
                
                    <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post"><input name="form_type" type="hidden" value="customer" /><input name="utf8" type="hidden" value="?" />
                        <div class="form_wrap">
                            <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter" />
                            <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
                            <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
                            <input type="email" id="email-input" placeholder="your@email.com" name="contact[email]" />
                            
                            <button id="email-submit"><i class="fa fa-angle-right"></i>subscribe</button>
                            <div class="clearfix"></div>
                        </div>
                        
                        
                        
                    </form> 
                
            </div>
            
            <div class="footer_social">
                <h3>follow us</h3>
                <ul>
                    <li><a href="//twitter.com/giveagift"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="//www.facebook.com/giveagift"><i class="fa fa-facebook"></i></a></li>
                    
                    
                    <li><a href="//www.pinterest.com/giveagift/"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="//google.com/+giveagift"><i class="fa fa-google-plus"></i></a></li>
                    
                </ul>
            </div>
        </div>
      	
	</div>
    </div>

</div>
</footer>

<div class="copyright">
  	<div class="container">
    	<p role="contentinfo">&copy; 2015 Gifts. All Rights Reserved. Design by Give a Gift Team</a>. <
    </div>
</div>

</div><!-- / #wrapper2 -->
</div><!-- / #wrapper -->

<!-- custom selects -->
<script type="text/javascript">
(function($) {
$(function() {
  $('.header_currency select, #navigation select').styler();
  $('.jq-selectbox__trigger').append('<i class="fa fa-angle-down"></i>');
})  
})(jQuery)
</script>

<!-- currencies selector -->


<script src="/services/javascripts/currencies.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0572/2457/t/2/assets/jquery.currencies.min.js?7759" type="text/javascript"></script>

<script>


Currency.format = 'money_format';


var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = "${{amount}} USD";
Currency.money_format[shopCurrency] = "${{amount}}";
  
/* Default currency */
var defaultCurrency = 'USD' || shopCurrency;
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

jQuery('.selected-currency').text(Currency.currentCurrency);

</script>





</body>
</html>